/*@import './foundation/scss/normalize'; */
/*@import './foundation/scss/foundation'; */


h1 {
  color: tomato;
  text-align: left;
  max-width: 400px;
}

h2 {
  color:darkgray;
  
}

.hidden {
  display: none;
}

.table{
  max-width: 100%;
}

img {
  max-width: 150px;
}
